extends layout
mixin playerrow(player, i)
  tr
    td.rank= `#${i}`
    td.prfp 
      img(
        src="#{'http://a.ppy.sh/' + player.id}" 
        alt="#{player.name}'s profile picture"
        )
    td.name
      a(href="https://osu.ppy.sh/users/#{player.id}")= player.name
    td.data
      if player.omct.total_score[round] && player.omct.numpasses[round]
          p #{player.omct.total_score[round].toFixed(2) + " points"}
          p #{player.omct.numpasses[round] + " passes"}
  tr.hidden

block content
  h1= title

  if round < 4
    a(href=`/${parseInt(round)+1}`)
      h2 Click here to go to the next round!

  link(rel='stylesheet', href='/stylesheets/uploading.css')
  link(rel='stylesheet', href='/stylesheets/leaderboard.css')
  // script(src="/javascripts/uploadbutton.js")

  // label#upload-button.inputfile(for="file") Choose replay
  // label#upload-button-end(for="endfile")

  form#osrupload(action="/stat", method="post" encType="multipart/form-data")
    input#file.inputfile(type="file", name="osr" required)
    input(type="hidden", name="browser" value="true").
    input#endfile(type="submit", value="")

  // p.
    this should show the leaderboard by default and update 
    to show the newly submitted play when a post request is submitted

  #content
    #lbwrapper
      if players.length > 0
        table#leaderboard
          thead
          tbody
          - let i = 1
          each player in players
            +playerrow(player, i)
            - i++
      else
        p There is no one in this round yet