extends layout
mixin playerrow(player, i)
  tr
    td.rank= `#${i}`
    td.prfp 
      img(
        src="#{'http://a.ppy.sh/' + player.id}" 
        alt="#{player.name}'s profile picture"
        )
    td.name
      a(href="https://osu.ppy.sh/users/#{player.id}")= player.name
    td.data
      if player.omct.total_score[round] && player.omct.numpasses[round]
          p #{player.omct.total_score[round].toFixed(2) + " points"}
          p #{player.omct.numpasses[round] + " passes"}
  tr.hidden

block content
  link(rel='stylesheet', href='/stylesheets/header.css')
  link(rel='stylesheet', href='/stylesheets/uploading.css')
  link(rel='stylesheet', href='/stylesheets/leaderboard.css')

  .headerwrapper
    #hdr.header
      if round > 1
        #leftarrow.arrow
          a(href=`/${parseInt(round)-1}`)
            img(
              src="/images/leftarrow.png"
              alt=`Go to round ${parseInt(round)-1}`
            )
      #title.title= title
      if round < 4
        #rightarrow.arrow
          a(href=`/${parseInt(round)+1}`)
            img(
              src="/images/rightarrow.png"
              alt=`Go to round ${parseInt(round)+1}`
          )

  #uploadbuttons.btnwrapper
    label#upload-button.btn(for="file") 
      div Choose replay
    label#upload-button-end.btn(for="endfile")
      div Upload

    form#osrupload(action="/stat", method="post" encType="multipart/form-data")
      input#file.inputfile(type="file", name="osr" required)
      input(type="hidden", name="browser" value="true").
      input#endfile(type="submit", value="")

  script(src="/javascripts/uploadbutton.js")

  #content
    #lbwrapper
      if players.length > 0
        table#leaderboard
          thead
          tbody
          - let i = 1
          each player in players
            +playerrow(player, i)
            - i++
      else
        p There is no one in this round yet